html, body {
width: 100%;
height: 100%;
font-family: Helvetica, "Times New Roman", sans-serif;
background-color: #F1F1F1;
}

.background_box {
  width: 100%;
  height: 100px;
  background-color: #A22E2E;

}

.nav_menu_box {
  background-color: purple;
  margin: 0 auto;
  width: 400px;
  height: 100px;
  color: #FFFFFF;
}

.nav_menu_text {
  display: inline-block;
  margin: 40px 0 40px 0;
  width: 150px;
  height: 100px;
}
