


//common styles throughout the websites.

$blue: #074D7F;
$orange: rgba(237, 90, 33, .8);
$yellow: #EDBD00;
$red: #930000;
$grey: #E6E8E6;
$transition: linear .25s;
$box-shadow: 5px 5px 20px #999;
$border-style: solid;
$none: 0;


// main font and line height sizes

$font-size: 16px;
$line-height: 24px;

//using this for padding left and right only

$pad: 16px; //
$pad-half: $pad / 2;
$pad-and-half: $pad * 1.5;
$pad-double: $pad * 2;
$pad-triple: $pad * 3;

//using this for spacing vertically. Use this variable for margins only!

$space: 24px;
$space-half: $space / 2;
$space-and-half: $space * 1.5;
$space-double: $space * 2;
$space-triple: $space * 3;


* { margin: 0; padding: 0;  box-sizing: border-box;}

html,
body {
width: 100%;
height: 100%;
font-family: Helvetica, "Times New Roman", sans-serif;
font-size: $font-size;
}

<<<<<<< HEAD
.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
=======
a {
  color: $color1;
  text-decoration: none;

  &:hover {
    color: $color3;
  }
}

.indicator {
  border-width: 3px;
  border-style: solid;
  border-color: $color3 $color2 $color3 $color2;
  color: $color3;
}

h1 {
  transition: $transition;
  font-size: 2rem;
  text-align: center;

}

h2 {
  font-size: 2.75rem;
  font-weight: 400;
  text-align: center;

>>>>>>> 51848a44b4f92687d660333f8791549148cbe5ec
}

a {
  text-decoration: none;
}

<<<<<<< HEAD
nav {
  width: 100%;
  background-color: $orange;
=======
h4 {
  font-size: 2rem;
>>>>>>> 51848a44b4f92687d660333f8791549148cbe5ec
}

.navStyles{
  padding: 1rem;
  float: right;
  color: $grey;
  font-size: 1.25rem;
}

<<<<<<< HEAD
#landing-page {
  height: 100vh;
  background: url('../svgs/landing-img.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-text {
  padding: 1.5rem;
  background-color: rgba(0,0,0,.1);
  width: 100%;
  border: 4px solid $orange;
  border-right: none;
  border-left: none;
  color: white;
  position: absolute;
  top: 70%;
}

h1 span {
  font-size: 2.5rem;
  display: block;
  margin: .2rem 0 0 0;
  text-align: center;
}

.pad-wrap {
  padding: $pad;
=======

.site-wrap {
  position: relative;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: $color1;
  box-shadow: $box-shadow;
  overflow: hidden;
}

.nav-banner {
  width: 100%;
  min-height: 80px;
  background-color: $color2;

}

.menu-item {
  width: 70%;
  margin: 0 auto;
}

.nav-text {
  width: 33.333%;
  margin: $space 0;
  float: left;
  color: $color1;
  text-align: center;
}

.top-main {
  width: 97.5%;
  margin: $space-half $space-half;
}

.feature-row {
  width: 100%;
  transition: $transition;
  border: 2px solid $color4;
  background: $color4;
  color: $color2;
  overflow: hidden;

  &:hover {
    transition: $transition;
    border: 2px solid $color2;
    box-shadow: $box-shadow;
  }
}

.feature {
  width: 33.333%;
  height: 100%;
  margin: $space 0;
  float: left;
  text-align: center;
}

.call-now {
  display: none;
>>>>>>> 51848a44b4f92687d660333f8791549148cbe5ec
}

.svg-wrap {
  max-width: 12rem;
  margin: 0 auto;
<<<<<<< HEAD
  opacity: .5;
=======
  padding-top: $pad-and-half;
  line-height: $line-height;
>>>>>>> 51848a44b4f92687d660333f8791549148cbe5ec
}

#teamwork-design-wrap {
  margin: 0 auto;
  max-width: 80rem;
  overflow: hidden;
  box-shadow: $box-shadow;
  border-radius: 10px;
}

<<<<<<< HEAD
.teamwork {
  width: 49%;
  border: 2px solid $orange;
  border-radius: 20px;
  float: left;
  margin: 0 .5% 0;
}

.teamwork h2 {
  text-align: center;
  padding: $pad 0;
  font-size: 2.5rem;
  color: $orange;
}

.teamwork p {
  max-width: 30rem;
  margin: 0 auto;
  padding: $pad $pad;
  font-size: 1.25rem;
  line-height: 1.5;
  color: $orange;
=======
 .line-one {
  position: relative;
  left: 30px;
  width: 200px;
  height: 2px;
  margin: $space-half auto;
  transition: $transition;
  background-color: $color2;
}

.line-two {
  width: 200px;
  height: 2px;
  margin: $space-half auto;
  transition: $transition;
  background-color: $color2;
}



//about page


.about {
  width: 97.5%;
  margin: $space $space-half;
  transition: $transition;
  border: 2px solid white;
  color: $color2;
  overflow: hidden;


  &:hover {
    transition: $transition;
    border: 2px solid $color2;
    box-shadow: $box-shadow;
  }
>>>>>>> 51848a44b4f92687d660333f8791549148cbe5ec
}

.design {
  width: 49%;
  border: 2px solid $orange;
  border-radius: 20px;
  float: left;
  margin: 0 .5% 0;
}

.design h2 {
  text-align: center;
  padding: $pad 0;
  font-size: 2.5rem;
  color: $orange;
}

.design p {
  max-width: 30rem;
  margin: 0 auto;
  padding: $pad $pad;
  font-size: 1.25rem;
  line-height: 1.5;
  color: $orange;
}

#results {
  position: relative;
  margin: 2rem auto;
  max-width: 80rem;
  //background-color: green;
}

<<<<<<< HEAD
#results img {
=======


.svg-wrap {
  width: 20%;
  padding-right: $pad-and-half;
>>>>>>> 51848a44b4f92687d660333f8791549148cbe5ec
  float: left;
}

.results-text-styling {
  left: 55%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

<<<<<<< HEAD
.results-text-styling h2 {
  padding: $pad-half 0;
  color: $orange;
  font-size: 2.5rem;
  text-align: center;
}

.results-text-styling p {
  color: $orange;
  font-size: 1.25rem;
  line-height: 1.5;
}

#Education {
  position: relative;
  margin: 2rem auto;
  max-width: 80rem;
=======
.about-text-wrap {
  width: 75%;
  float: $fl;
  line-height: $line-height;
}

.center-header {
  width: 100%;
  margin: $space auto;
  text-align: center;
}

.contact-wrap {
  width: 100%;
}

.side {
  width: 50%;
  float: $fl;
  color: $color2;
}

.side-a {
  transition: $transition;

&:hover {
  transition: $transition;
  text-shadow: $text-shadow;
 }

 &:hover .line-two {
    width: 80%;
    transition: $transition;
    }
  }

  .side-b {
    transition: $transition;

  &:hover {
    transition: $transition;
    text-shadow: $text-shadow;
 }

   &:hover .line-two {
      width: 80%;
      transition: $transition;
      }
    }

.thanks-box {
  width: 100%;
  margin-top: $space-and-half;

}

.thanks-box-center {
  max-width: 100%;
  margin: $space-and-half 0;
  float: $fl;
  border-top: $color2;
  border-right: $color4;
  border-bottom: $color2;
  border-left: $color4;
  border-width: 1px;
  border-style: solid;
  background-color: $color4;

  &:hover {
    transition: $transition;
    box-shadow: $box-shadow;
  }
}

.logo-wrap {
  width: 15%;
  padding-right: $pad-and-half;
  float: $fl;
>>>>>>> 51848a44b4f92687d660333f8791549148cbe5ec
}

.mobile-header {
  display: none;
}


// Media Quieries -------------------------------------------------------------

@media screen and (max-width: 1200px) {
  h2 {
    font-size: 2rem;
}

  .subtext p {
    font-size: 1rem;
}

.center-header {
  margin: $space-half auto;
}

.feature-row {
  width: 99%;
}

.thanks-box {
  margin-top: $space;
}

.svg-wrap-partycomputer {
  width: 100%;
}

}

@media screen and (max-width: 1024px) {
h3 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.5rem;
}

h1 {
    font-size: 1.5rem;
  }

  .feature-row {
    width: 99%;
  }

.phone-image {
  height: 110px;
}

.plan-image {
    height: 120px;

}

.delivered-image {
  height: 120px;
}

.subtext p {
    width: 90%;
    margin: 0 auto;
    font-size: .9rem;
  }

.subtext {
    padding-top: $pad-half;
  }

.about-text-wrap p {
    font-size: 1rem;
  }

.svg-wrap {
    margin: $space-and-half 0 0 0;
  }

.thanks-box {
    margin-top: $space;
  }

.thanks-box h4 {
    font-size: 2rem;
  }

  .about {
    width: 96.5%;
  }
}

@media screen and (max-width: 860px) {

.menu-item {
    width: 50%;
    margin: 0 auto;
  }

.nav-text {
    width: 33.333%;
    margin: $space 0;
    float: left;
    text-align: center;
  }

.top-main {
    width: 100%;
    margin: 0 auto;
  }

  .feature-row {
    width: 100%;
    transition: $none;
    border: 0;
    background: none;
    color: $color2;
    overflow: none;

    &:hover {
      transition: none;
      border: $none;
      box-shadow: none;
    }
  }


.feature {
    width: 100%;
    margin: 0 auto;
    float: none;
    text-align: center;
}

.headline h2 {
  padding-top: $pad;
}

.feature1 {
  background-color: $color4;
}

.feature3 {
  background-color: $color4;
}

.subtext p {
  width: 100%;
  float: none;
  font-size: 1rem;
  text-align: center;
}

.main-images {
  width: 280px;
  height: 200px;
}

.bottom {
  display: none;
}

.call-now {
  display: block;
  width: 100%;
  margin: $space-half 0 $space-half 0;
  background-color: $color2;
  color: $color1;
}

.about {
  width: 100%;
  margin: 0 auto;
  transition: $transition;
  border: 0;
  color: $color2;
  overflow: hidden;

  &:hover {
    transition: none;
    border: $none;
    box-shadow: none;
  }
}

.svg-wrap {
  width: 30%;
  margin: 0 auto;
  padding: 0 0 0 0;
  float: none;
}

.about-text-wrap {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.mobile-header {
  display: inherit;
  margin-top: $space;
  color: $color2;
  background-color: $color1;

}

.thanks-box {
  margin-top: $space-and-half;
}

.thanks-box h4 {
    font-size: 1.5rem;
  }

.logo-wrap {
    width: 30%;
  }

.svg-wrap-contact {
  width: 30%;
  margin: $space auto;
}

.side {
  width: 100%;
  float: none;
}

.side-a {
  margin: $space 0;
  background-color: $color4;
}

 .center-header {
  display: none;
}

.svg-wrap-partycomputer {
  width: 70%;
  margin: 0 auto;
}

.svg-wrap-partyphone {
  width: 70%;
  margin: $space-half auto;
}

.line-two {
  display: none;
}
}

@media screen and (max-width: 560px) {

  .menu-item {
      width: 90%;
      margin: 0 auto;
    }

  .nav-text {
      width: 33.333%;
      margin: $space 0;
      float: left;
      text-align: center;
    }

  .top-main {
      width: 100%;
      margin: 0 auto;
    }

    .feature-row {
      width: 100%;
      transition: $none;
      border: 0;
      background: none;
      color: $color2;
      overflow: none;

      &:hover {
        transition: $none;
        border: $none;
        box-shadow: $none;
      }
    }


  .feature {
      width: 100%;
      margin: 0 auto;
      float: none;
      text-align: center;
  }

  .headline h2 {
    padding-top: $pad;
  }

  .feature1 {
    background-color: $color4;
  }

  .feature3 {
    background-color: $color4;
  }

  .subtext p {
    width: 100%;
    float: none;
    font-size: 1rem;
    text-align: center;
  }

  .main-images {
    width: 200px;
    height: 160px;
  }

  .bottom {
    display: none;
  }

  .call-now {
    display: inherit;
    width: 100%;
    margin: $space-half 0 $space-half 0;
    background-color: $color2;
    color: $color1;
  }

  .about-text-wrap p {
    font-size: .9rem;
  }

  .svg-wrap {
    width: 50%;
  }

  .svg-wrap-partycomputer {
    width: 95%;
    padding-right: none;
  }

  .svg-wrap-partyphone {
    width: 95%;
  }

  .thanks-box-center {
    display: none;
  }
}
