/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 16px; }

a {
  color: #F1F1F1;
  text-decoration: none; }
  a:hover {
    color: #9B9B9B; }

.indicator {
  border-width: 3px;
  border-style: solid;
  border-color: #9B9B9B #A22E2E #9B9B9B #A22E2E;
  color: #9B9B9B; }

h1 {
  transition: linear 0.25s;
  font-size: 2rem;
  text-align: center; }

h2 {
  font-size: 2.75rem;
  font-weight: 400;
  text-align: center; }

h3 {
  display: inline;
  font-size: 2rem; }

h4 {
  font-size: 2rem; }

p {
  font-size: 1.25rem; }

.site-wrap {
  position: relative;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #F1F1F1;
  box-shadow: 0 0px 30px #888;
  overflow: hidden; }

.nav-banner {
  width: 100%;
  min-height: 80px;
  background-color: #A22E2E; }

.menu-item {
  width: 70%;
  margin: 0 auto; }

.nav-text {
  width: 33.333%;
  margin: 24px 0;
  float: left;
  color: #F1F1F1;
  text-align: center; }

.top-main {
  width: 97.5%;
  margin: 12px 12px; }

.feature-row {
  width: 100%;
  transition: linear 0.25s;
  border: 2px solid #D8D8D8;
  background: #D8D8D8;
  color: #A22E2E;
  overflow: hidden; }
  .feature-row:hover {
    transition: linear 0.25s;
    border: 2px solid #A22E2E;
    box-shadow: 0 0px 30px #888; }

.feature {
  width: 33.333%;
  height: 100%;
  margin: 24px 0;
  float: left;
  text-align: center; }

.call-now {
  display: none; }

.subtext {
  width: 90%;
  margin: 0 auto;
  padding-top: 24px;
  line-height: 24px; }

.additional-features {
  width: 98%;
  margin: 0 auto;
  color: #A22E2E; }

.bottom-box {
  width: 80%;
  margin: 36px auto;
  overflow: hidden; }
  .bottom-box:hover .line-one {
    width: 75%;
    transition: linear 0.25s; }

.img {
  width: 20%;
  height: 150px;
  float: left;
  z-index: 2; }

.phone-image {
  width: 100%;
  height: 100%;
  background: url("../svgs/phone.svg") no-repeat center; }

.delivered-image {
  width: 100%;
  height: 100%;
  background: url("../svgs/man.svg") no-repeat center center; }

.plan-image {
  width: 100%;
  height: 100%;
  background: url("../svgs/strategy.svg") no-repeat center center; }

.line-one {
  position: relative;
  left: 30px;
  width: 200px;
  height: 2px;
  margin: 12px auto;
  transition: linear 0.25s;
  background-color: #A22E2E; }

.line-two {
  width: 200px;
  height: 2px;
  margin: 12px auto;
  transition: linear 0.25s;
  background-color: #A22E2E; }

.about {
  width: 97.5%;
  margin: 24px 12px;
  transition: linear 0.25s;
  border: 2px solid white;
  color: #A22E2E;
  overflow: hidden; }
  .about:hover {
    transition: linear 0.25s;
    border: 2px solid #A22E2E;
    box-shadow: 0 0px 30px #888; }

.part1 {
  border: 2px solid #D8D8D8;
  background-color: #D8D8D8; }

.part2 {
  border: 2px solid #F1F1F1; }

.part3 {
  border: 2px solid #D8D8D8;
  background-color: #D8D8D8; }

.part4 {
  border: 2px solid #F1F1F1; }

.svg-wrap {
  width: 20%;
  padding-right: 24px;
  float: left; }

.image-float {
  width: 20%;
  height: 120px; }

.about-text-wrap {
  width: 75%;
  float: left;
  line-height: 24px; }

.center-header {
  width: 100%;
  margin: 24px auto;
  text-align: center; }

.contact-wrap {
  width: 100%; }

.side {
  width: 50%;
  float: left;
  color: #A22E2E; }

.side-a {
  transition: linear 0.25s; }
  .side-a:hover {
    transition: linear 0.25s;
    text-shadow: 10px 10px 40px #999; }
  .side-a:hover .line-two {
    width: 80%;
    transition: linear 0.25s; }

.side-b {
  transition: linear 0.25s; }
  .side-b:hover {
    transition: linear 0.25s;
    text-shadow: 10px 10px 40px #999; }
  .side-b:hover .line-two {
    width: 80%;
    transition: linear 0.25s; }

.thanks-box {
  width: 100%;
  margin-top: 36px; }

.thanks-box-center {
  max-width: 100%;
  margin: 36px 0;
  float: left;
  border-top: #A22E2E;
  border-right: #D8D8D8;
  border-bottom: #A22E2E;
  border-left: #D8D8D8;
  border-width: 1px;
  border-style: solid;
  background-color: #D8D8D8; }
  .thanks-box-center:hover {
    transition: linear 0.25s;
    box-shadow: 0 0px 30px #888; }

.logo-wrap {
  width: 15%;
  padding-right: 24px;
  float: left; }

.mobile-header {
  display: none; }

@media screen and (max-width: 1200px) {
  h2 {
    font-size: 2rem; }

  .subtext p {
    font-size: 1rem; }

  .center-header {
    margin: 12px auto; }

  .feature-row {
    width: 99%; }

  .thanks-box {
    margin-top: 24px; }

  .svg-wrap-partycomputer {
    width: 100%; } }
@media screen and (max-width: 1024px) {
  h3 {
    font-size: 1.5rem; }

  h2 {
    font-size: 1.5rem; }

  h1 {
    font-size: 1.5rem; }

  .feature-row {
    width: 99%; }

  .phone-image {
    height: 110px; }

  .plan-image {
    height: 120px; }

  .delivered-image {
    height: 120px; }

  .subtext p {
    width: 90%;
    margin: 0 auto;
    font-size: .9rem; }

  .subtext {
    padding-top: 8px; }

  .about-text-wrap p {
    font-size: 1rem; }

  .svg-wrap {
    margin: 36px 0 0 0; }

  .thanks-box {
    margin-top: 24px; }

  .thanks-box h4 {
    font-size: 2rem; }

  .about {
    width: 96.5%; } }
@media screen and (max-width: 860px) {
  .menu-item {
    width: 50%;
    margin: 0 auto; }

  .nav-text {
    width: 33.333%;
    margin: 24px 0;
    float: left;
    text-align: center; }

  .top-main {
    width: 100%;
    margin: 0 auto; }

  .feature-row {
    width: 100%;
    transition: 0;
    border: 0;
    background: none;
    color: #A22E2E;
    overflow: none; }
    .feature-row:hover {
      transition: none;
      border: 0;
      box-shadow: none; }

  .feature {
    width: 100%;
    margin: 0 auto;
    float: none;
    text-align: center; }

  .headline h2 {
    padding-top: 16px; }

  .feature1 {
    background-color: #D8D8D8; }

  .feature3 {
    background-color: #D8D8D8; }

  .subtext p {
    width: 100%;
    float: none;
    font-size: 1rem;
    text-align: center; }

  .main-images {
    width: 280px;
    height: 200px; }

  .bottom {
    display: none; }

  .call-now {
    display: inherit;
    width: 100%;
    margin: 12px 0 12px 0;
    background-color: #A22E2E;
    color: #F1F1F1; }

  .about {
    width: 100%;
    margin: 0 auto;
    transition: linear 0.25s;
    border: 0;
    color: #A22E2E;
    overflow: hidden; }
    .about:hover {
      transition: none;
      border: 0;
      box-shadow: none; }

  .svg-wrap {
    width: 30%;
    margin: 0 auto;
    padding: 0 0 0 0;
    float: none; }

  .about-text-wrap {
    width: 100%;
    margin: 0 auto;
    text-align: center; }

  .mobile-header {
    display: inherit;
    margin-top: 24px;
    color: #A22E2E;
    background-color: #F1F1F1; }

  .thanks-box {
    margin-top: 36px; }

  .thanks-box h4 {
    font-size: 1.5rem; }

  .logo-wrap {
    width: 30%; }

  .svg-wrap-contact {
    width: 30%;
    margin: 24px auto; }

  .side {
    width: 100%;
    float: none; }

  .side-a {
    margin: 24px 0;
    background-color: #D8D8D8; }

  .center-header {
    display: none; }

  .svg-wrap-partycomputer {
    width: 70%;
    margin: 0 auto; }

  .svg-wrap-partyphone {
    width: 70%;
    margin: 12px auto; }

  .line-two {
    display: none; } }
@media screen and (max-width: 560px) {
  .menu-item {
    width: 90%;
    margin: 0 auto; }

  .nav-text {
    width: 33.333%;
    margin: 24px 0;
    float: left;
    text-align: center; }

  .top-main {
    width: 100%;
    margin: 0 auto; }

  .feature-row {
    width: 100%;
    transition: 0;
    border: 0;
    background: none;
    color: #A22E2E;
    overflow: none; }
    .feature-row:hover {
      transition: 0;
      border: 0;
      box-shadow: 0; }

  .feature {
    width: 100%;
    margin: 0 auto;
    float: none;
    text-align: center; }

  .headline h2 {
    padding-top: 16px; }

  .feature1 {
    background-color: #D8D8D8; }

  .feature3 {
    background-color: #D8D8D8; }

  .subtext p {
    width: 100%;
    float: none;
    font-size: 1rem;
    text-align: center; }

  .main-images {
    width: 200px;
    height: 160px; }

  .bottom {
    display: none; }

  .call-now {
    display: inherit;
    width: 100%;
    margin: 12px 0 12px 0;
    background-color: #A22E2E;
    color: #F1F1F1; }

  .about-text-wrap p {
    font-size: .9rem; }

  .svg-wrap {
    width: 50%; }

  .svg-wrap-partycomputer {
    width: 95%;
    padding-right: none; }

  .svg-wrap-partyphone {
    width: 95%; }

  .thanks-box-center {
    display: none; } }

/*# sourceMappingURL=main.css.map */
