$color1: #F1F1F1;
$color2: #A22E2E;
$color3: #9B9B9B;
$color4: #D8D8D8;

$inline: inline-block;
$fl: left;

html,
body {

position: relative;
width: 1024px;
height: 1024px;
margin: 0 auto;
background-color: $color1;
font-family: Helvetica, "Times New Roman", sans-serif;

}

.background-box {
  width: 1024px;
  height: 100px;
  background-color: $color2;

}

.nav-menu-box {
  width: 520px;
  height: 100px;
  margin: 0 auto;
  color: #FFFFFF;
}


.nav-text-styles {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 80px;
  margin: 0 10px 0 10px;
  border-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  font-size: 36px;
  text-align: center;

    &:hover {
      border-bottom-color: $color3;
      color: $color3;
    }
}

.wrapper {
  height: 462px;
  margin: 0 auto;
  background-color: yellow;
  text-align: center;
}

.top_main {
  width: 1024px;
  height: 462px;
  border-bottom-style: solid;
  border-bottom-color: $color2;
  background-color: $color4;
}

.feature1 {
  width: (1000 / 3) * 1px;
  height: 442px;
  float: $fl;
  background-color: purple;
}

.feature2 {
  width: (1000 / 3) * 1px;
  height: 442px;
  float: $fl;
  background-color: orange;
}

.feature3 {
  width: (1000 / 3) * 1px;
  height: 442px;
  float: $fl;
  background-color: green;
}
