* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 16px; }

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

a {
  text-decoration: none; }

.header-nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); }

.header-nav img {
  width: 3rem; }

.blue-fill {
  background-color: rgba(7, 77, 127, 0.6); }

.bottom-border-blue {
  border-bottom-color: rgba(7, 77, 127, 0.8);
  border-style: solid;
  border-width: 3px; }

/* .border-bottom-orange {
  border-bottom-color: $orange;
  border-style: solid;
  border-width: 3px;
}

.border-bottom-yellow {
  border-bottom-color: $yellow;
  border-style: solid;
  border-width: 3px;
} */
.font-grey {
  color: #E6E8E6; }

.font-orange {
  color: rgba(237, 90, 33, 0.8); }

.font-blue {
  color: rgba(7, 77, 127, 0.8); }

/* .home-button-wrap {
  position: absolute;
  display: inline-block;
  background-color: $black;
  padding: $pad-half;
  border-radius: 50%;
  border: solid 2px $grey;
  top: 10px;
  left: 10px;
} */
.nav-styles {
  padding: 1rem;
  float: right;
  color: #E6E8E6;
  font-size: 1.25rem; }

#landing-page {
  height: 100vh;
  background: url("../svgs/landing-img.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }

.landing-text {
  position: absolute;
  top: 70%;
  width: 100%;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: 4px solid rgba(7, 77, 127, 0.8);
  border-right: 0;
  border-left: 0;
  color: white; }

h1 span {
  display: block;
  margin: .2rem 0 0 0;
  font-size: 2.5rem;
  text-align: center; }

.svg-wrap {
  max-width: 10rem;
  opacity: .5;
  border-radius: 50%;
  border: 3px solid rgba(7, 77, 127, 0.8);
  transition: all .5s; }
  .svg-wrap:hover {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3); }

.margin-align {
  margin: 0 auto; }

.center-contact-page-elements {
  margin: 0 0 0 45%; }

.svg-wrap-unique {
  max-width: 10rem;
  margin: 0 auto;
  opacity: .9;
  background-color: #E6E8E6;
  border-radius: 50%;
  box-shadow: 0 0px #FFFFFF inset, 0 1px 20px rgba(34, 25, 25, 0.4); }

.svg-wrap-click-transition {
  transition: 1.5s;
  margin-left: 15%; }

.index-duo-tiles {
  max-width: 55rem;
  margin: 24px auto;
  padding: 0 32px; }

.duo-box-left {
  width: 48%;
  margin: 0 2% 0 0;
  float: left;
  transition: .5s ease; }
  .duo-box-left:hover {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3); }
  .duo-box-left:hover .svg-wrap {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3); }

.duo-box-left h2 {
  padding: 16px 0;
  font-size: 2rem;
  text-align: center; }

.duo-box-left p {
  max-width: 30rem;
  margin: 0 auto;
  padding: 16px 16px;
  font-size: 1rem;
  line-height: 1.5; }

.blue-border {
  border: 2px solid rgba(7, 77, 127, 0.8);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  border-left: none;
  border-right: none; }

/* .orange-border {
  border: 2px solid $orange;
  box-shadow: $box-shadow;
  border-left: none;
  border-right: none;
}

.orange-fill {
  background-color: $orange;
}
 */
.duo-box-right {
  width: 49%;
  float: left;
  margin: 0 .5% 0;
  transition: 1s ease; }
  .duo-box-right:hover {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3); }
  .duo-box-right:hover .svg-wrap {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3); }

.duo-box-right h2 {
  padding: 16px 0;
  font-size: 2rem;
  text-align: center; }

.duo-box-right p {
  max-width: 30rem;
  margin: 0 auto;
  padding: 16px 16px;
  font-size: 1rem;
  line-height: 1.5; }

.box-full-width {
  display: block;
  max-width: 80rem;
  margin: 48px auto; }

.border-grey {
  border: 2px solid #E6E8E6;
  border-radius: 20px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  background-color: rgba(7, 77, 127, 0.8); }

.full-width-text-style {
  position: relative;
  max-width: 40rem;
  min-height: 1rem;
  max-height: 1rem;
  margin: 0 auto;
  left: 6rem;
  bottom: 8rem;
  color: #ffffff; }
  .full-width-text-style p {
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5; }

.text-fade-in {
  color: rgba(7, 77, 127, 0.8);
  transition: color 2s 1s ease; }

footer {
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: #E6E8E6;
  text-align: center; }

.footer-nav-blue {
  border: 2px solid rgba(7, 77, 127, 0.8);
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }

footer p {
  padding: 8px 0; }

.social-media-icons {
  padding: 8px 0; }

/*# sourceMappingURL=styles.css.map */
