* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 16px; }

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

a {
  text-decoration: none; }

.main-nav {
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); }

.main-nav img {
  width: 3rem; }

.blue-fill {
  background-color: rgba(7, 77, 127, 0.8); }

.bottom-blue {
  border-bottom-color: rgba(7, 77, 127, 0.8);
  border-style: solid;
  border-width: 3px; }

.bottom-orange {
  border-bottom-color: rgba(237, 90, 33, 0.8);
  border-style: solid;
  border-width: 3px; }

.bottom-yellow {
  border-bottom-color: #EDBD00;
  border-style: solid;
  border-width: 3px; }

.font-grey {
  color: #E6E8E6; }

.font-orange {
  color: rgba(237, 90, 33, 0.8); }

.font-blue {
  color: rgba(7, 77, 127, 0.8); }

.home-button-wrap {
  position: absolute;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  border-radius: 50%;
  border: solid 2px #E6E8E6;
  top: 10px;
  left: 10px; }

.navStyles {
  padding: 1rem;
  float: right;
  color: #E6E8E6;
  font-size: 1.25rem; }

#landing-page {
  height: 100vh;
  background: url("../svgs/landing-img.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }

.landing-text {
  position: absolute;
  top: 70%;
  width: 100%;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: 4px solid rgba(7, 77, 127, 0.8);
  border-right: 0;
  border-left: 0;
  color: white; }

h1 span {
  display: block;
  margin: .2rem 0 0 0;
  font-size: 2.5rem;
  text-align: center; }

.svg-wrap {
  max-width: 14rem;
  margin: 0 auto;
  opacity: .5;
  border: 4px solid rgba(7, 77, 127, 0.8);
  border-radius: 50%;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4); }

.svg-wrap2 {
  max-width: 14rem;
  margin: 0 auto;
  opacity: .5;
  border: 4px solid rgba(237, 90, 33, 0.8);
  border-radius: 50%;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4); }

#top-half {
  max-width: 80rem;
  margin: 24px auto;
  padding: 0 32px; }

.box-left {
  width: 49%;
  margin: 0 .5% 0;
  float: left;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3); }

.box-left h2 {
  padding: 16px 0;
  font-size: 2.5rem;
  text-align: center; }

.box-left p {
  max-width: 30rem;
  margin: 0 auto;
  padding: 16px 16px;
  font-size: 1.25rem;
  line-height: 1.5; }

.blue-border {
  border: 2px solid rgba(7, 77, 127, 0.8);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  border-left: none;
  border-right: none; }

.orange-border {
  border: 2px solid rgba(237, 90, 33, 0.8);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  border-left: none;
  border-right: none; }

.orange-fill {
  background-color: rgba(237, 90, 33, 0.8); }

.box-right {
  width: 49%;
  float: left;
  margin: 0 .5% 0;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3); }

.box-right h2 {
  padding: 16px 0;
  font-size: 2.5rem;
  text-align: center; }

.box-right p {
  max-width: 30rem;
  margin: 0 auto;
  padding: 16px 16px;
  font-size: 1.25rem;
  line-height: 1.5; }

.box-full-width {
  position: relative;
  max-width: 80rem;
  margin: 48px auto;
  padding: 0 32px; }

.border-grey {
  border: 2px solid #E6E8E6;
  border-radius: 20px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  background-color: rgba(7, 77, 127, 0.8); }

.box-full-width img {
  position: absolute;
  max-width: 15rem;
  opacity: .5;
  padding: 16px 16px; }

.full-width-text-style {
  padding: 0 0 32px;
  max-width: 50rem;
  margin: 0 auto; }

.full-width-text-style h2 {
  padding: 16px 0;
  font-size: 2.5rem;
  text-align: center; }

.full-width-text-style p {
  margin: 0 48px;
  font-size: 1.25rem;
  line-height: 1.5; }

footer {
  background-color: #E6E8E6;
  text-align: center; }

.footer-nav-blue {
  border: 2px solid rgba(7, 77, 127, 0.8);
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }

.footer-nav-orange {
  border: 2px solid rgba(237, 90, 33, 0.8);
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }

footer p {
  padding: 8px 0; }

.social-media-icons {
  padding: 8px 0; }

/*# sourceMappingURL=styles.css.map */
