//common styles throughout the websites.

$blue: rgba(7, 77, 127, .8);
$blue-faded: rgba(7, 77, 127, .6);
$orange: rgba(237, 90, 33, .8);
$yellow: #EDBD00;
$red: #930000;
$grey: #E6E8E6;
$black: rgba(0, 0, 0, .8);
$transition: linear .25s;
$box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
$box-shadow2: 0 0 20px 2px rgba(0, 0, 0, 0.3);
$border-style: solid;
$none: 0;


// main font and line height sizes

$font-size: 16px;
$line-height: 24px;

//using this for padding left and right only

$pad: 16px; //
$pad-half: $pad / 2;
$pad-and-half: $pad * 1.5;
$pad-double: $pad * 2;
$pad-triple: $pad * 3;

//using this for spacing vertically. Use this variable for margins only!

$space: 24px;
$space-half: $space / 2;
$space-and-half: $space * 1.5;
$space-double: $space * 2;
$space-triple: $space * 3;


* { margin: 0; padding: 0;  box-sizing: border-box;}

html,
body {
width: 100%;
height: 100%;
font-family: Helvetica, "Times New Roman", sans-serif;
font-size: $font-size;
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

a {
  text-decoration: none;
}

.header-nav {
  width: 100%;
  background-color: $black;
}

.header-nav img {
  width: 3rem;
}

.blue-fill {
  background-color: $blue-faded;
}

.bottom-border-blue {
  border-bottom-color: $blue;
  border-style: solid;
  border-width: 3px;
}

//not sure if going to use for part of website.

/* .border-bottom-orange {
  border-bottom-color: $orange;
  border-style: solid;
  border-width: 3px;
}

.border-bottom-yellow {
  border-bottom-color: $yellow;
  border-style: solid;
  border-width: 3px;
} */

//classes for fonts. Not sure if I want to do it this way

.font-grey {
  color: $grey;
}

.font-orange {
  color: $orange;
}

.font-blue {
  color: $blue;
}


//not sure if I want to incorporate a home button yet.

/* .home-button-wrap {
  position: absolute;
  display: inline-block;
  background-color: $black;
  padding: $pad-half;
  border-radius: 50%;
  border: solid 2px $grey;
  top: 10px;
  left: 10px;
} */

.nav-styles{
  padding: 1rem;
  float: right;
  color: $grey;
  font-size: 1.25rem;
}

#landing-page {
  height: 100vh;
  background: url('../svgs/landing-img.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-text {
  position: absolute;
  top: 70%;
  width: 100%;
  padding: 1.5rem;
  background-color: rgba(0,0,0,.1);
  border: 4px solid $blue;
  border-right: 0;
  border-left: 0;
  color: white;
}

h1 span {
  display: block;
  margin: .2rem 0 0 0;
  font-size: 2.5rem;
  text-align: center;
}

.svg-wrap {
  max-width: 10rem;
  opacity: .5;

  border-radius: 50%;
  border: 3px solid $blue;
  transition: all .5s;
    &:hover {
      box-shadow: $box-shadow2;
    }
}

.margin-align {
  margin: 0 auto;
}

.center-contact-page-elements {
  margin: 0 0 0 45%;
}

.svg-wrap-unique {
  max-width: 10rem;
  margin: 0 auto;
  opacity: .9;
  background-color: $grey;
  border-radius: 50%;
  box-shadow: 0 0px #FFFFFF inset, 0 1px 20px rgba(34, 25, 25, 0.4);
}

 .svg-wrap-click-transition {
  transition: 1.5s;
  margin-left: 15%;
}

//styling for the index page. seperated into tiles

.index-duo-tiles {
  max-width: 55rem;
  margin: $space auto;
  padding: 0 $pad-double;
}

.duo-box-left {
  width: 48%;
  margin: 0 2% 0 0;
  float: left;
  transition: .5s ease;
    &:hover {
      box-shadow: $box-shadow2;
    }
    &:hover .svg-wrap {
      box-shadow: $box-shadow2;
    }
}

.duo-box-left h2 {
  padding: $pad 0;
  font-size: 2rem;
  text-align: center;
}

.duo-box-left p {
  max-width: 30rem;
  margin: 0 auto;
  padding: $pad $pad;
  font-size: 1rem;
  line-height: 1.5;
}

.blue-border {
  border: 2px solid $blue;
  box-shadow: $box-shadow;
  border-left: none;
  border-right: none;
}

//not sure if i'll need this.

/* .orange-border {
  border: 2px solid $orange;
  box-shadow: $box-shadow;
  border-left: none;
  border-right: none;
}

.orange-fill {
  background-color: $orange;
}
 */
.duo-box-right {
  width: 49%;
  float: left;
  margin: 0 .5% 0;
  transition: 1s ease;
  &:hover {
    box-shadow: $box-shadow2;
  }
  &:hover .svg-wrap {
    box-shadow: $box-shadow2;
  }
}

.duo-box-right h2 {
  padding: $pad 0;
  font-size: 2rem;
  text-align: center;
}

.duo-box-right p {
  max-width: 30rem;
  margin: 0 auto;
  padding: $pad $pad;
  font-size: 1rem;
  line-height: 1.5;
}

.box-full-width {
  display: block;
  max-width: 80rem;
  //background-color: green;
  margin: $space-double auto;
  //transition: margin-left 2s;
}

.border-grey {
  border: 2px solid $grey;
  border-radius: 20px;
  box-shadow: $box-shadow;
  background-color: $blue;
}


.full-width-text-style {
  position: relative;
  max-width: 40rem;
  min-height: 1rem;
  max-height: 1rem;
  margin: 0 auto;
  left: 6rem;
  bottom: 8rem;
  color: #ffffff;
    p {
      margin: 0 auto;
      font-size: 1rem;
      line-height: 1.5;
  }
}

.text-fade-in {
  color: $blue;
  transition: color 2s 1s ease;
}

footer {
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: $grey;
  text-align: center;
}

.footer-nav-blue {
  border: 2px solid $blue;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}


footer p {
  padding: $pad-half 0;
}

.social-media-icons {
  padding: $pad-half 0;
}
